p	{
      font-size: 20px;
      font: 20px/1.5 "ヒラギノ角ゴPro W3","Hiragino Kaku Gothic Pro",Osaka,“メイリオ”,Meiryo,"ＭＳ Ｐゴシック","MS PGothic",Arial,Helvetica,Verdana,sans-seri
      line-height : 1.5 ;
      margin: 5px 100px 15px 100px;
	}
h1 {
    text-align: center;
    }
h2 {
    text-align: left;
      margin-left: 40px;
    }
pre {
    margin: 5px 100px 15px 100px;
    }
address{
	margin:5px 100px 15px 100px;
}      
ol {
}
ul {
}
li {
  margin-top: 5px; /* 上余白指定 */
  margin-bottom: 5px; /* 下余白指定 */
  margin-left: 100px; /* 左余白指定*/
  margin-right: 100px; /* 右余白指定 */
  font-size: 20px; /*リストのフォントの大きさ*/
}


p.button_wrapper {
 width: 80%;

}

textarea {
  width: 100%;
  box-sizing: border-box;
  margin: 0.1em 0;
  padding: .1em .5em;
  border-radius: 1em;
  border: 2px solid #aaa;
  font-size: 40px;

}

.flex{
  padding: 0.2% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
}

.flex img{
   width: 200px;
}


span.samples {font-size: small; }
