            body {
                margin: 0;
            }

     #contents {
	position: relative;

		width :  100% ;
		height : 50vh ;


border: 1px solid #aaa;
     }

    #year-01 {
	font-size: 4em;
        text-align: center;
	/*position: absolute;
		top: 10px ;
		left: 300px ;*/
    }
    #date-01 {
	font-size: 14em;
	font-weight: 900;
        text-align: center;
	/*position: absolute;
		top: 40px ;
		/*left: 210px ;*/
    }

    #month-01 {
	font-size: 8em;
	position: absolute;
		top: 180px ;
		left: 50px ;
    }
    #myDay-01 {
	font-size: 8em;
	position: absolute;
		top: 180px ;
		right: 50px ;
    }
    #ampm-01 {
	font-size: 1em;
	position: absolute;
		top: 400px ;
		left: 150px ;
    }
    #time-01 {
	font-size: 5em;
        text-align: center;

/*	position: absolute;
		top: 360px ;
                righr: 0 ;*/
    }
    #test {
	transform-origin:0 0;
	transform:scale(4.0); 

    }

