/*スマホ程度の大きなモニタの場合*/
@media (min-width: 0px) and (max-width: 799px) {
/*横向きの場合*/
@media all and (orientation: landscape) {
     body {
        margin: 0;
     }
     #contents {
	position: relative;
		width :  50vw ;
		height : 100vh ;
                float: left;
        border: 1px solid #aaa;
     }

    #year-01 {
	font-size: 3em;
        text-align: center;
	position: absolute;
		top: 2vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #date-01 {
	font-size: 6em;
	font-weight: 900;
        text-align: center;
	position: absolute;
		top: 25vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #month-01 {
	font-size: 4em;
	position: absolute;
		top: 14vh ;
		left: 5vw ;
    }
    #myDay-01 {
	font-size: 4em;
	position: absolute;
		top: 14vh ;
		right: 5vw ;
    }
    #time-01 {
	font-size: 3em;
        text-align: center;
	position: absolute;
		top: 70vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    iframe {
        width: 35vw ;
        height: 70vh ;
        float: left;
    }
    #test {
	transform-origin:0 0;
	transform:scale(1.4); 
        float: left;
    }
}
/*縦向きの場合*/
@media all and (orientation: portrait) {
     body {
        margin: 0;
     }
     #contents {
	position: relative;
		width :  100vw ;
		height : 50vh ;
        border: 1px solid #aaa;
     }
    #year-01 {
	font-size: 3em;
        text-align: center;
	position: absolute;
		top: 2vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #date-01 {
	font-size: 6em;
	font-weight: 900;
        text-align: center;
	position: absolute;
		top: 10vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #month-01 {
	font-size: 4em;
	position: absolute;
		top: 14vh ;
		left: 5vw ;
    }
    #myDay-01 {
	font-size: 4em;
	position: absolute;
		top: 14vh ;
		right: 5vw ;
    }
    #time-01 {
	font-size: 3em;
        text-align: center;
	position: absolute;
		top: 35vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    iframe {
        width: 75vw ;
        height: 40vh ;
    }
    #test {
	transform-origin:0 0;
	transform:scale(1.4); 
    }
}
}
/*タブレット程度のモニタの場合*/
@media (min-width: 800px) and (max-width: 1349px) {
/*横向きの場合*/
@media all and (orientation: landscape) {
     body {
        margin: 0;
     }
     #contents {
	position: relative;
		width :  50vw ;
		height : 100vh ;
                float: left;
        border: 1px solid #aaa;
     }

    #year-01 {
	font-size: 4em;
        text-align: center;
	position: absolute;
		top: 2vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #date-01 {
	font-size: 10em;
	font-weight: 900;
        text-align: center;
	position: absolute;
		top: 25vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #month-01 {
	font-size: 6em;
	position: absolute;
		top: 14vh ;
		left: 5vw ;
    }
    #myDay-01 {
	font-size: 6em;
	position: absolute;
		top: 14vh ;
		right: 5vw ;
    }
    #time-01 {
	font-size: 5em;
        text-align: center;
	position: absolute;
		top: 70vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    iframe {
        width: 24vw ;
        height: 50vh ;
        float: left;
    }
    #test {
	transform-origin:0 0;
	transform:scale(2.0); 
        float: left;
    }
}
}
/*縦向きの場合*/
@media all and (orientation: portrait) {
     body {
        margin: 0;
     }
     #contents {
	position: relative;
		width :  100vw ;
		height : 50vh ;
        border: 1px solid #aaa;
     }
    #year-01 {
	font-size: 4em;
        text-align: center;
	position: absolute;
		top: 2vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #date-01 {
	font-size: 10em;
	font-weight: 900;
        text-align: center;
	position: absolute;
		top: 10vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #month-01 {
	font-size: 6em;
	position: absolute;
		top: 14vh ;
		left: 5vw ;
    }
    #myDay-01 {
	font-size: 6em;
	position: absolute;
		top: 14vh ;
		right: 5vw ;
    }
    #time-01 {
	font-size: 5em;
        text-align: center;
	position: absolute;
		top: 35vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    iframe {
        width: 50vw ;
        height: 25vh ;
    }
    #test {
	transform-origin:0 0;
	transform:scale(2.0); 
    }
}
}
/*パソコン程度の大きなモニタの場合*/
@media all and (min-width: 1350px) {
/*横向きの場合*/
@media all and (orientation: landscape) {
     body {
        margin: 0;
     }
     #contents {
	position: relative;
		width :  50vw ;
		height : 100vh ;
                float: left;
        border: 1px solid #aaa;
     }

    #year-01 {
	font-size: 6em;
        text-align: center;
	position: absolute;
		top: 2vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }
    #date-01 {
	font-size: 18em;
	font-weight: 900;
        text-align: center;
	position: absolute;
		top: 25vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }

    #month-01 {
	font-size: 8em;
	position: absolute;
		top: 14vh ;
		left: 5vw ;
    }
    #myDay-01 {
	font-size: 8em;
	position: absolute;
		top: 14vh ;
		right: 5vw ;
    }
    #time-01 {
	font-size: 4em;
        text-align: center;
	position: absolute;
		top: 75vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
    }

    iframe {
        width: 25vw;
        height: 50vh;
        float: left;
    }

    #test {
	transform-origin:0 0;
	transform:scale(2.0); 
        float: left;
    }
}
/* 縦向きの場合 */
@media all and (orientation: portrait) {
     body {
        margin: 0;
     }
     #contents {
	position: relative;
		width :  100vw ;
		height : 50vh ;
        border: 1px solid #aaa;
     }

    #year-01 {
	font-size: 6em;
        text-align: center;
	position: absolute;
		top: 2vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
	/*position: absolute;
		top: 10px ;
		left: 300px ;*/
    }
    #date-01 {
	font-size: 18em;
	font-weight: 900;
        text-align: center;
	position: absolute;
		top: 20vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;
	/*position: absolute;
		top: 40px ;
		/*left: 210px ;*/
    }

    #month-01 {
	font-size: 8em;
	position: absolute;
		top: 150px ;
		left: 150px ;
    }
    #myDay-01 {
	font-size: 8em;
	position: absolute;
		top: 150px ;
		right: 150px ;
    }
    #ampm-01 {
	font-size: 1em;
	position: absolute;
		top: 400px ;
		left: 150px ;
    }
    #time-01 {
	font-size: 4em;
        text-align: center;
	position: absolute;
		top: 10vh ;
                left:  0 ;
                right: 0 ;
                margin: auto;

/*	position: absolute;
		top: 360px ;
                righr: 0 ;*/
    }

    iframe {
        width: 50vw ;
        height: 25vh ;
    }
    #test {
	transform-origin:0 0;
	transform:scale(2.0); 
    }
}

}
